.layout {
  display: grid;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  overflow: hidden;
}
