@import './mixins/font-face';

@include font-face(Inter, inter, regular);
@include font-face(Inter, inter, semi-bold);
@include font-face(Inter, inter, bold);

@include font-face('Rooftop Mono', rooftop-mono, regular);
@include font-face('Rooftop Mono', rooftop-mono, bold);

@include font-face('Druk Wide', druk-wide, bold);
