%timer-base {
  display: inline-grid;
  gap: 5px;
  justify-items: center;
}

.timer {
  @extend %timer-base;

  grid-template-columns: minmax(auto, 2ch) 1ch 2ch 1ch 2ch;
}

.timerWithDays {
  @extend %timer-base;

  grid-template-columns: minmax(auto, 2.8ch) 1ch 2ch 1ch 2ch 1ch 2ch;
}
