@import '../vars/breakpoints';
@import '../vars/common';

@mixin container {
  box-sizing: border-box;
  min-width: $min-page-width;
  max-width: $max-page-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;

  @media (max-width: $breakpoint-md) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
