@import '@/styles/vars/breakpoints';
@import '@/styles/vars/colors';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  border: 2px solid $primary-color;
  overflow: hidden;
  color: $on-primary-color;
  font-family: 'Rethink Sans', sans-serif;
  line-height: 1;
  letter-spacing: -0.4px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;

  &:focus {
    outline: none;
  }

  &:not(.isDisabled) {
    cursor: pointer;
  }

  &.isDisabled {
    opacity: 0.7;
  }

  &.isFilled {
    background-color: $primary-color;

    &:not(.isDisabled) {
      &:hover,
      &:focus {
        border-color: rgb(0 0 0 / 30%);
      }

      &:active {
        border-color: rgb(0 0 0 / 30%);
        box-shadow: 0 2px 12px rgb(255 255 255 / 25%);
      }
    }
  }

  &:not(.isFilled) {
    border-color: $primary-color;
    color: #fff;
    background: transparent;

    &:not(.isDisabled) {
      &:hover,
      &:focus {
        color: $primary-color;
      }

      &:active {
        color: $primary-color;
        box-shadow: inset 0 4px 4px rgb(233 203 134 / 30%);
      }
    }
  }
}

.medium {
  height: 44px;
  padding: 12px 20px 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;

  @media (max-width: $breakpoint-md) {
    font-size: 10px;
  }
}

%big-common-styles {
  max-width: 100%;
  height: 60px;
  padding: 14px 25px 8px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  @media (max-width: $breakpoint-md) {
    height: 50px;
    padding: 12px 20px 8px;
    font-size: 17px;
  }
}

.big {
  @extend %big-common-styles;

  width: max-content;
}

.wideBig {
  @extend %big-common-styles;

  width: 100%;
}
