@import '@/styles/vars/colors';

.toastContainer {
  --toastify-toast-width: 280px;

  padding: 0 !important;

  .toast {
    padding: 0;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    background: rgb(34 34 34 / 80%);
    cursor: default;
    backdrop-filter: blur(5px);
  }

  .progressBar {
    height: 4px;
  }

  .toastBody {
    padding: 0;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global(.Toastify__toast-icon) {
    width: 30px;
    margin-right: 0;
  }
}
