@import '@/styles/mixins/titles';
@import '@/styles/vars/colors';
@import '@/styles/vars/breakpoints';

.pending {
  position: relative;
  text-align: center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 50px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  background-color: rgb(0 0 0 / 60%);
  transform: translate(-50%, -50%);
  white-space: nowrap;

  @media (max-width: $breakpoint-md) {
    padding: 10px 25px;
    font-size: 20px;
  }
}
