@import '@/styles/vars/breakpoints';
@import '@/styles/mixins/container';
@import '@/styles/mixins/visually-hidden';

.page {
  @include container;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 500px;

  @media (max-width: $breakpoint-md) {
    padding-bottom: 30px;
  }
}

.preloader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.connectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.preload {
  @include visually-hidden;

  position: absolute;
  top: 0;
  left: 0;
}
