.icon {
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  max-width: 100%;
  height: 44px;
  max-height: 100%;
  margin: 0;
  padding: 12px;
  border: none;
  background-color: transparent;

  &:not(.isDisabled) {
    cursor: pointer;

    &:hover .icon {
      fill: #eff2f6;
    }
  }
}
