@import '@/styles/mixins/rectangle';

.animation {
  @include rectangle;

  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
